@use "../../styles/mixins" as *;

.highlights {
  height: 65vh;
  background-color: var(--primary-pure-white);
  display: flex;
  flex-direction: row-reverse;

  @include for-mobile-up {
    width: 100%;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .highlights__background {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .highlight__1-img {
    width: 60%;
    background-image: url(../../assets/home/desktop/beautiful-stories.jpg);

    @include for-tablet-up {
      background-image: url(../../assets/home/tablet/beautiful-stories.jpg);
      width: 30%;
    }

    @include for-mobile-up {
      background-image: url(../../assets/home/mobile/beautiful-stories.jpg);

      width: 100%;
    }
  }

  .highlight__2-img {
    width: 60%;
    background-image: url(../../assets/home/desktop/designed-for-everyone.jpg);
    @include for-tablet-up {
      background-image: url(../../assets/home/tablet/designed-for-everyone.jpg);
      width: 30%;
    }
    @include for-mobile-up {
      background-image: url(../../assets/home/mobile/designed-for-everyone.jpg);

      width: 100%;
    }
  }
}

.highlights__content {
  display: flex;
  flex-direction: column;
  color: var(--primary-black);
  width: 40%;
  position: relative;
  justify-content: center;
  padding: 0 17rem 0 8rem;
  text-align: left;
  gap: 2rem;
  @include for-tablet-up {
    width: 70%;
    padding: 6rem;
  }

  @include for-mobile-up {
    width: 100%;
    padding: 3rem;
  }

  .highlights__gradient {
    position: absolute;
    height: 60%;
    width: 0.3rem;
    top: 20%;
    left: 0%;
    background: var(--primary-main-accent-softer);
  }

  .highlights__header {
    @include h1-styling();
    text-transform: uppercase;
    max-width: 20rem;
  }

  .highlights__text {
    @include body-styling();
    font-weight: 300;
  }

  .button_2 {
    p {
      color: var(--primary-black);
    }
    color: var(--primary-black);

    gap: 1rem;
    justify-content: left;
  }
}

.highlight__2__content {
  flex-direction: row;
  @include for-mobile-up {
    flex-direction: column-reverse;
  }
}
