@use "../../styles/mixins" as *;

.feature-section {
  .features {
    display: grid;
    width: 90%;
    margin: 0 auto;
    padding: 5rem;
    height: 80vh;
    gap: 3rem 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include for-tablet-up {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @include for-mobile-up {
      gap: 5rem 2rem;

      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto, 1fr);
    }

    .button_2 {
      display: none;
    }
  }

  .hero {
    height: 60vh;

    @include for-mobile-up {
      height: 80vh;
    }
    .button_2 {
      display: none;
    }
  }
}
