@use "../../styles/mixins" as *;

.footer {
  background-color: var(--primary-black);
  color: var(--primary-pure-white);
  width: 100%;

  .footer__container {
    width: 85%;
    padding: 3rem 1rem;
    margin: 0 auto;
    display: flex;
    gap: 10rem;

    @include for-tablet-up {
      width: 100%;
      padding: 2rem 1rem;
      justify-content: space-between;
    }

    @include for-mobile-up {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }

    .nav__list {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: start;
      margin: auto;

      @include for-tablet-up {
        flex-direction: row;
        display: none;
      }

      @include for-mobile-up {
        flex-direction: column;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 4rem;
      }

      .nav__item {
        list-style: none;
        @include for-mobile-up {
          margin-top: 1rem;
        }
      }
    }

    .nav__link {
      color: var(--primary-pure-white);
    }

    .nav__link:hover {
      color: var(--primary-hover-grey);
    }

    .link-home {
      display: block;
    }
  }
}

.footer__container-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include for-tablet-up {
    justify-content: start;
  }
  @include for-mobile-up {
    gap: 2rem;
  }

  .testNav > .nav__bar > .nav__list {
    display: none;

    @include for-tablet-up {
      margin: 2rem 0 5rem 0;
      flex-direction: row;
      display: flex;
    }

    @include for-tablet-up {
      flex-direction: row;
      display: none;
    }
  }

  .container__logo {
    color: var(--primary-pure-white);
  }
  .footer__socials-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
}

.footer__copyright {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer__copyright-text {
    @include body-styling();
    color: var(--primary-hover-grey);
    font-weight: var(--font-weight-regular);
  }

  @include for-mobile-up {
    margin: auto;
  }

  .button_2 {
    @include for-mobile-up {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    p {
      margin: 0 1rem 0 auto;

      @include for-mobile-up {
        margin: 0;
      }
    }
  }
}
