@use "../../styles/mixins" as *;

.nav {
  width: 100%;
  background-color: var(--primary-pure-white);
  z-index: 5;

  @include for-mobile-up {
    z-index: 3;
    position: relative;
  }

  &__container {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;

    @include for-tablet-up {
      width: 100%;
    }

    @include for-mobile-up {
      padding: 1.5rem;
    }

    .nav__logo {
      display: flex;
      align-items: center;
    }
  }
}

.nav__btn {
  @include button-1();

  @include for-mobile-up {
    display: none;
  }
}

.mobile__menu-icon {
  display: none;
  @include for-mobile-up {
    display: block;
  }
}
